<h1>Post#show</h1>

<p>
  @posts <%= @posts %>
</p>

<p>
  @authors <%= @authors %>
</p>

<p>
  title body category
</p>

<p>
  params[:id] <%= params[:id] %>
</p>

<p>
  <%= link_to"Back", :back %>
</p>
